nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: lightgray 1px solid;
}

.rest-name {
  font-family: 'Roboto';
  color: black;
  font-size: 32px;
  font-weight: bold;
  margin: 10px 20px;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin: 10px 20px;
}

.nav-ord-let {
  font-family: 'Roboto';
  color: black;
  font-size: 18px;
  margin-right: 10px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45px;
}

.cart-counter {
  display: inline;
  background-color: red;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  border-radius: 50%;
  padding-left: 5px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  height: 20px;
  margin: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
}

.cart-logo {
  height: 30px;
  margin: 0px;
}

.logo {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.cart-icon-container {
  position: relative;
}

.cart-count-badge {
  position: absolute;
  top: -15px;
  right: -5px;
}

.cart-count {
  text-align: center;
  background-color: #ff6347;
  padding: 4px 2px 2px;
  color: #ffff;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  min-width: 25px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .rest-name {
    font-size: 26px;
  }
  .nav-ord-let {
    display: none;
  }
}
